name: Secure Platform Pipeline

on:
  push:
    branches: [master]

jobs:
  security-pipeline:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # --------------------
    # Python Setup
    # --------------------
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - run: pip install -r requirements.txt

    # --------------------
    # Dependency Scan
    # --------------------
    - name: Dependency Scan
      run: |
        pip install pip-audit
        pip-audit

    # --------------------
    # SAST - SonarQube
    # --------------------
    - name: Sonar Scan
      uses: sonarsource/sonarqube-scan-action@v2
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST }}

    # --------------------
    # Build Docker Image
    # --------------------
    - name: Build Image
      run: docker build -t demo-secure-app:${{ github.sha }} .

    # --------------------
    # Trivy Scan
    # --------------------
    - name: Trivy Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: demo-secure-app:${{ github.sha }}
        format: table
        exit-code: 1

    # --------------------
    # Run App for DAST
    # --------------------
    - name: Run container
      run: |
        docker run -d -p 8000:8000 demo-secure-app:${{ github.sha }}
        sleep 20

    # --------------------
    # DAST - OWASP ZAP
    # --------------------
    - name: ZAP Scan
      uses: zaproxy/action-baseline@v0.10.0
      with:
        target: 'http://localhost:8000'

    # --------------------
    # Login DockerHub
    # --------------------
    - name: Login Docker
      run: echo "${{ secrets.DOCKER_PASS }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin

    - name: Tag Image
      run: docker tag demo-secure-app:${{ github.sha }} ${{ secrets.DOCKER_USER }}/secure-demo:latest

    # --------------------
    # Install Cosign
    # --------------------
    - name: Install Cosign
      uses: sigstore/cosign-installer@v3

    # --------------------
    # Sign Image
    # --------------------
    - name: Sign Image
      run: cosign sign --yes ${{ secrets.DOCKER_USER }}/secure-demo:latest

    # --------------------
    # Push Image
    # --------------------
    - name: Push Image
      run: docker push ${{ secrets.DOCKER_USER }}/secure-demo:latest